<!--
  Generated template for the Login page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding>
  <ion-card class="logo col-33">
  <img  src="assets/img/logof.PNG">
  </ion-card>

  <form [formGroup]="loginForm" (submit)="loginUser()" novalidate>

    <ion-item>
      <ion-label></ion-label>
      <ion-input autofocus #email formControlName="email" autocomplete="off" type="email" (change)="elementChanged(email)"
        placeholder="Your email address"
        [class.invalid]="!loginForm.controls.email.valid && (emailChanged || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!loginForm.controls.email.valid  && (emailChanged || submitAttempt)">
      <p>Please enter a valid email.</p>
    </ion-item>

    <ion-item>
      <ion-label></ion-label>
      <ion-input #password formControlName="password" autocomplete="off" type="password" (change)="elementChanged(password)"
        placeholder="Your password"
        [class.invalid]="!loginForm.controls.password.valid && (passwordChanged || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!loginForm.controls.password.valid  && (passwordChanged || submitAttempt)">
      <p>Your password needs more than 6 characters.</p>
    </ion-item>

    <button ion-button button-outline  block type="submit">
      Login
    </button>
    

  </form>
  <div class="row">
    <div class="col-33 block center">

    <p> <a (click)="goToSignup()"> 
      Create a new account
      </a>
    </p>

    <p ><a  (click)="goToResetPassword()">
      I forgot my password
      </a>
    </p>
   </div> 
  </div>    
</ion-content>
