page-profile {
    .dob-label{
        color: #fff !important;
    }
        ion-list-header{
            background-color: #0083c4 !important;
        }
        ion-content{
            background-color: #0083c4 !important;
        }
        ion-item{
            background-color: #0083c4 !important;
        }
                .offset{
            background-color: #0083c4 !important;
        }
        body {
            color: white; 
        }
        a{
            color: #fff !important;
        }
        h1{
            color: #fff !important;
        }
            h2{
            color: #fff !important;
        }
            p{
            color: #fff !important;
        }
    div{
        text-align: center;
    }

}
