page-announcements {
                .offset{
            background-color: #0083c4 !important;
        }
    div{
        text-align: center;
    }

        ion-col div {
            background-color: #F9FAFB;
            padding: 5px;
            border: 1px solid #ddd;
            border-radius: 2px;
            text-align: center;
            box-shadow: 5px !important;
        }

        .flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  background: tomato;
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 10px;
  
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}
}
