page-announcements {
                .offset{
            background-color: #0083c4 !important;
        }


        .item {
            background-color: #F9FAFB;
                padding-bottom: 1.6em;
            border: 5px solid #ddd;
            border-radius: 2px;
            text-align: center;
            box-shadow:1px 1px  #0083c4 !important;
        }
}
