page-partners {
        ion-content{
            background-color: #0083c4 !important;
        }

        .offset{
            background-color: #0083c4 !important;
        }
        body {
            color: white; 
        }
        a{
            color: #fff !important;
        }
        h1{
            color: #fff !important;
        }
            h2{
            color: #fff !important;
        }
            p{
            color: #fff !important;
        }
            ion-content{
             background-color: #0083c4 !important;
        }
            ion-card{
             background-color: #0083c4 !important;
        }
        div {
            
            padding: 5px;
            border: 1px solid #ddd;
            border-radius: 2px;
            text-align: center;
            box-shadow:1px 1px  #0083c4 !important;
        }

        ion-card {
            
            padding: 5px;
           
            border-radius: 2px;
            text-align: center;
            
             border: 5px solid #ddd;
            border-radius: 2px;
            text-align: center;
            box-shadow:2px 2px  #fff !important;
        }
}
