page-about-us {
            ion-content{
             background-color: #0083c4 !important;
        }
        .content{
             background-color: #0083c4 !important;
        }
        .offset{
            background-color: #0083c4 !important;
        }
        div {
            
            padding: 5px;
            border: 1px solid #ddd;
            border-radius: 2px;
            text-align: center;
            box-shadow:1px 1px  #0083c4 !important;
        }

        ion-col div {
            
            padding: 5px;
            border: 1px solid #ddd;
            border-radius: 2px;
            text-align: center;
            box-shadow: 5px !important;
        }

        body {
            color: white; 
        }

        h1{
            color: #fff !important;
        }
            h2{
            color: #fff !important;
        }
            p{
            color: #fff !important;
        }
}
