page-events {
    div{
        text-align: center;
    }

            ion-card {
            background-color: #F9FAFB;
            padding: 5px;
           
            border-radius: 2px;
            text-align: center;
            
             border: 5px solid #ddd;
            border-radius: 2px;
            text-align: center;
            box-shadow:2px 2px  #0083c4 !important;
        }

                ion-col {
            background-color: #F9FAFB;
            padding: 5px;
           
            border-radius: 2px;
            text-align: center;
            
             border: 5px solid #ddd;
            border-radius: 2px;
            text-align: center;
            box-shadow:2px 2px  #0083c4 !important;
        }
}
