page-events {
    ion-content{
        background-color: #0083c4;

    }
    ion-card{
        background-color: #0083c4;

    }
    ion-card-header{
        background-color: #0083c4;
    }
            body {
            color: white; 
        }
        a{
            color: #fff !important;
        }
        h1{
            color: #fff !important;
        }
            h2{
            color: #fff !important;
        }
            p{
            color: #fff !important;
        }
            ion-content{
             background-color: #0083c4 !important;
        }
            ion-card{
             background-color: #0083c4 !important;
        }
    div{
        text-align: center;
    }

            ion-card {
            background-color: #0083c4;
            padding: 5px;
            color: #fff;
            border-radius: 2px;
            text-align: center;
            border: 5px solid #ddd;
            border-radius: 2px;
            text-align: center;
            box-shadow:2px 2px  #fff !important;
        }

                ion-col {
           
            padding: 5px;
           
            border-radius: 2px;
            text-align: center;
            
             border: 5px solid #ddd;
            border-radius: 2px;
            text-align: center;
            box-shadow:2px 2px  #fff !important;
        }
}
